.app {
  height: 100%;
  margin: -8px;
}

/* "NAVBAR" */
.pageHeader {
  background-color: #880000;
  height: 50px;
  width: 100%;
}
.pageLogo {
  font-family: sans-serif;
  text-align: left;
  color: white;
  float: left;
  font-size: 20px;
  margin: 15px;
}
.searchBarDiv {
  float: right;
  margin: 13px;
}

/* PÁGINA DE POSTS */
.mainPage {
  margin: 20px;
}
img {
  height: 300px;
  width: 300px;
}

.nComentarios {
  text-align: right;
}

.post {
  padding: 10px;
  float: left;
}

/* FOOTER */
.pageFooter {
  background-color: #9c9c9c;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  font-family: verdana;
  font-size: 10px;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 5px 0px 5px;
}
.alunoInfo {
  width: 100%;
}
.aluno {
  height: 30px;
  width: 30px;
}

/*Deailed box of the post*/
.detailBox {
  width: 630px;
  height: 630px;
  outline: solid black 2px;
  position: fixed;
  top: 10%;
  left: 30%;
}
.desc {
  overflow: auto;
  overflow-x: hidden;
  height: 300px;
}

.comments {
  overflow: auto;
  overflow-x: hidden;
  height: 100px;
  width: 300px;
}
